bin/Debug/net6.0/fin.dll
bin/Debug/net6.0/fin.pdb
obj/Debug/net6.0/fin.dll
obj/Debug/net6.0/fin.pdb
obj/Debug/net6.0/ref/fin.dll
obj/Debug/net6.0/refint/fin.dll
bin/Debug/net6.0/fin.dll
bin/Debug/net6.0/fin.dll
bin/Debug/net6.0/fin.pdb
obj/Debug/net6.0/fin.dll
obj/Debug/net6.0/fin.pdb
obj/Debug/net6.0/ref/fin.dll
obj/Debug/net6.0/refint/fin.dll
